
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>welcome to home page!!!</h1>

    <h2>Users List</h2>
    <ul>
        <% for(let user of users){ %>
            <li>
                <b> <%=user.username%> </b>
            </li>
        <% } %>
    </ul>
</body>
</html>