

    <% layout('layout/boilerplate') %>
    
    <h2>Users List</h2>
    <ul>
        <% for(let user of users){ %>
            <li>
                <a href="/user/<%= user._id %>" style="text-decoration: none; color: black;"> <%= user.username %></a>
            </li>
        <% } %>
    </ul>

